 
        *{
            font: italic 1.5vw Playfair Display;
            box-sizing: border-box;
            border: none;
            padding: 0;
            margin: 0;
        }

         header{
            position: fixed;
            width: 100%; 
        } 

        .header-grandfather{
            background-color: rgb(59 23 5);
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            max-height: 5em;
            padding: 50px;
            display: flex;
            margin: 0;
        }

        .navbar-one a{
            background-color: rgb(203 118 18 / 94%);
            color: rgb(122, 15, 15);
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 10px;
            font-size: 1.1em;
            font-weight: 700;
            transition: .5s; 
            margin: 4px;
            padding:4px;
        }

        .navbar-one a:hover {
            text-shadow: 0px 1px 2px rgb(255 0 0), 0px 3px 2px rgb(247 0 0); 
            background-color: transparent;
            color: #0a344f;
        }

        .navbar-one a:focus{
            box-shadow:0px 0px 5px 5px rgb(88, 88, 88),inset 0px 0px 3px 3px rgb(161, 161, 161);
        }

        .navbar-one ul  {
            display: inline-flex;
             
        }   .navbar-one ul li {
            /* display: inline-block; */
            list-style:none;
            transition: .5s;
        }

        .transform{
             transform: rotate3d(0, 0, 2, 30deg);
        }

        .transform:hover{
             transform: rotate3d(0, 0, 2, 0deg);
        }

        
        h1 { 
	        animation: wobble 5s ease-in-out infinite;
	        padding-bottom: 1.1em;
        }

        .img-logo {
            margin-bottom: -7px;
            width: 10%;
        }

        .header-grandfather .img-logo img{
            width: 100%;
        }

        .search {
            background-color: bisque;
            border-radius: 12px;  
            transition: .4s;  
            border-radius: 20px;
        }
.search input {padding-left: 8px;}
        .search:hover{
            box-shadow:0px 0px 5px 5px rgb(88, 88, 88),inset 0px 0px 3px 3px rgb(161, 161, 161);
            outline: none;
        }

        .search:focus{
            box-shadow:0px 0px 5px 5px rgb(88, 88, 88),inset 0px 0px 3px 3px rgb(161, 161, 161);
            outline: none;
            color: blueviolet;
        }

        .s-rch{
            background-color:transparent;
            border-radius: 20px;
            font-size: 1.1em;
            font-weight: 700;
            outline: none;
            padding: 3px;
            border: none;
        }

        .s-rch:focus{
            /* box-shadow:0px 0px 5px 5px rgb(88, 88, 88), inset 0px 0px 3px 3px rgb(161, 161, 161); */
            text-shadow: 0 0 0 0 red;
            border: none;
            color: red;
        }

        .word{
            background-color: rgb(203 118 18 / 94%);
        }

        .write:focus{
            color: blue;
        }

        .sectionone{
            background:url(images/pacground2.jpg) no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size:cover;
            padding:100px 200px;
            align-items: center;
            min-height: 137vh;
            display: flex;
            width: 100%;
        }

        .title {
            background-color: rgba(13, 0, 0,.4);
            border-radius: 20px;
            font-size: 2.1em;
            font-weight: 900;
            margin: -8%;
        }

        .title h1 {
           
            text-shadow: 0px 0px 5px rgb(255 254 254), 0px 3px 3px rgb(255 137 0);
            -webkit-text-stroke: 1px #d1851f;
            text-transform: capitalize;
            justify-content: center;
            animation-name: shadow;
            animation-timing-function: ease;
            color: #874a00;
            font-size: 1.5em;
            font-weight: 500;
            font-size: 2em;
            padding: 25px;
            display: flex;
        }

        @keyframes shadow{
            0%{
            text-shadow: 0px 0px 5px rgb(171, 10, 10), 0px 3px 3px rgb(160, 89, 8);
            }
            35%{
                text-shadow: 0px 0px 5px rgb(50, 117, 89), 0px 3px 3px rgb(188, 231, 17);
            }
            70%{
                text-shadow: 0px 0px 5px rgb(212, 14, 14), 0px 3px 3px rgb(12, 181, 242);
            }
            100%{
                text-shadow: 0px 0px 5px rgb(8, 70, 255), 0px 3px 3px rgb(255, 0, 230);
            }
        }

        .sectiontwo-part {
            background-repeat: no-repeat;
            background: #33220b;
            background-repeat: no-repeat;
            background-image: url(images/try21.png);
            background-size: 39%;
            padding: 50px 25px;
            min-height: 85vh;
        }

        .sectiontwo-part h1{ 
            text-shadow: 0px 0px 5px rgb(209 77 0), 0px 3px 3px rgb(247 0 0);
            justify-content: center; 
            color: rebeccapurple;
            border-radius: 50px;
            color: #33220b;
            font-size: 2.5em;
            font-weight: 600;
            display: flex; 
            padding: 0;
        } 

        .part-pts{
            color: #bb7a10;
            margin-left: 31%;
            padding: 1.3%;
        }

        .sooska {
            position: relative;
            top: -15.5em;
            width: 29%;
            left: 1%;
        }

        .sectiontwo{
            background: #3d2505;
            padding: 50px 25px;
            min-height: 97vh;
        }

        .sectiontwo h1{ 
            background-color: rgb(100 66 21);
            color: rgb(228 232 142);
            justify-content: center; 
            align-items: center;
            border-radius: 50px;
            font-size: 2.5em;
            font-weight: 600;
            display: flex; 
            padding: 0;
        }

        .types-cards{
            display: flex;
            flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
        } 

        .crad-one {
            overflow: hidden;
            transition: .4s;
            padding: 0px;
            margin: 2em;
            width: 22em;
            color: #e16207;
        }

        .crad-one:hover {
            box-shadow: 0 0px 12px 4px rgb(228 232 142);
            transform: scale(1.05);
            border-radius: 20px;
            color: rgb(228 232 142);
            text-shadow: 1px 1px 3px rgb(228 232 142);
        }

        .crad-one:focus {
            box-shadow: 0 0px 12px 4px rgb(228 232 142);
            transform: scale(1.05);
            border-radius: 20px;
        }

        .crad-one .image-card-one img{
            border-radius: 20px;
            width: 100%;
        }

        .text-cards {
            /* color:#b1773b; */
            padding: 5px;
            margin: 5px;
        }

        strong.Special {
            text-transform: uppercase;
            /* color: #e16207; */
            font-weight: 700;
            font-size: 2em;
        }

        .text-cards p{
            direction: rtl;
        }

       .section-three{
            background-color: rgb(163, 89, 46);
            padding: 30px 25px;
        } 
      
        .section-three h1 {
            color: rgb(246, 158, 6);
            margin: 0.33em 13em 1.1em;
            justify-content: center;
            border: 5px double;
            border-top: none;
            border-left: none;
            border-right: none;
            font-size: 1.5em;
            display: flex;
            padding: 0;
        }

        .type-icon-services{
            justify-content: center;       
            display: flex; 
        }

        .type-one{
            box-shadow: 5px 5px 10px -2px #a44806,3px 7px 10px 1px #5f5f5f;
            border-radius: 20px;
            color: #ebebeb;
            transition: .7s;
            min-width: 9em;
            padding: 1%;
            margin: 1%;
        }

        .type-one:hover {
            transform: skew(21deg, 11deg);
            background-color: #523c12;
            box-shadow: none;
        }

        .icon{
            justify-content: center;
            display: flex;
        }

        .icon i{
            color: rgb(246, 158, 6);
            font-weight: 600;
            font-size: 2em;
        }

        .pr-icon h3{
            color: rgb(255, 225, 0);
            justify-content: center;
            font-size: 1.2em;
            font-weight: 700;
            display: flex;
        }

        footer {
            background-color:#472f05 ;
            color: mediumvioletred;
            padding: 3%;
        }

        .hfoot{
            text-shadow: 0px 0px 5px rgb(255 0 0), 0px 3px 3px rgb(247 0 0);
            text-transform: capitalize;
            justify-content: center;
            color: #0a344f;
            font-weight: 500;
            font-size: 2em;
            display: flex;
        }

        .soi-cone {
            justify-content: center;
            display: flex;
        }

        .soi-cone a i {
            font-weight: bold;
            color: #815f06;
            font-size: 2em;
            margin: 21px;
        }

        .soi-cone a{
            transition: .4s;
        }

        .soi-cone a:hover {
            text-shadow: 0px 0px 20px rgb(255 255 255);
            transform: scale(1.3);
        }
        @media screen and (min-width:280px) and (max-width:300px){
            .header-grandfather{
                max-height: 10em;
                padding: 0;
            }

            .img-logo {
                margin-bottom: 0;
                width: 17%;
            }

            .navbar-one a{
                padding: 2px;
                margin: 0px;
            }
            
            .navbar-one {
                margin-right: 2%;
            }

            .sectionone {
                min-height: 65vh;
                padding: 0;
            }

            .title{
                margin: 2%;
            }

            .sectiontwo-part{
                padding: 27px 44px;
                min-height:20vh;
            }

            .sectiontwo{
                padding: 19px 7px;
                min-height: 25vh;
            }

            /* .types-cards {
                display: grid;
            } */

            .soi-cone a i {
                margin: 4px;
            }

        }
        @media screen and (min-width:300px) and (max-width:375px){
            
            .header-grandfather{
                max-height: 8em;
                padding: 5px;
            }

            .img-logo {
                margin-bottom: -1px;
                width: 13%;
            }

            .sectionone{
                background: url(images/try33.jpg) no-repeat;
                background-position: center center;
                background-attachment: fixed;
                min-height: 62vh;
                padding:0;
            }

            .title{
                margin: 7%;
            }

            .sectiontwo-part {
                padding: 26px 25px;
                min-height: 21vh;
            }

            .part-pts{
                margin-left: 35.6%;
            }

            .sectiontwo{
                padding: 47px 0px;
                min-height: 34vh;
            }

            /* .types-cards {
                display: grid;
            } */

            .soi-cone a i{
                margin: 7px;
            }

        }
        @media screen and (min-width:375px) and (max-width:768px) {
            .sectionone{
                background-image: url(images/try17.jpg);
                min-height: 76vh;
                padding: 0;
            }

            .header-grandfather {
                background-color: rgb(76 26 1);
                max-height: 8em;
                padding: 6px;
            } 

            .img-logo {
                margin-bottom: -2px;
                width: 15%;
            }

            .title {
                margin: 1em;
            }

            .sectiontwo-part {
                padding: 35px 25px;
                min-height: 33em;
            }

            .part-pts {
                margin-left: 34.3%;

            }

            .sectiontwo {
                padding: 78px 0px;
                min-height: 36vh;
            }

            /* .types-cards {
                display: grid;
            } */

            .soi-cone a i{
                margin: 6px;
            }
        } 
        @media screen and (min-width:768px) and (max-width:912px){
            .header-grandfather{
                max-height: 7em;
                padding: 18px;
            }
            .img-logo {
                margin-bottom: 0;
                width: 12%;
            }

            .sectionone{
                background-image:url(images/try20.jpg);
                min-height: 80vh;
                padding: 0;

               
            }

            .sectiontwo-part{
                min-height: 32vh; 
            }

            .title{
                margin: 6%;
            }

            .part-pts{
                margin-left: 36.4%;
            }

            .sectiontwo{
                padding: 42px 12px;
                min-height:33vh;
            }

            /* .types-cards {
               flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
            } */

            .soi-cone a i{
                margin: 8px;
            }
        }